<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Category</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Type</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTextfield</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Pick a category</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Programming</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Phone Calls</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Shopping</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Sport</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Start Date</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellDatePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>End Date</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string>false</string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellDatePicker</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Duration</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Type</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTextfield</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Note</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Note that will be displayed</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTextView</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
